:global {
  .maxWidth {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1280px) {
      width: calc(100% - 80px);
      margin-left: 40px;
      margin-right: 40px;
    }

    @media screen and (max-width: 480px) {
      width: calc(100% - 40px);
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  .fullWidth {
    width: 100%;
  }
}
