:root {
  --font-family-body: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-family-heading: Inter, var(--font-family-body);
  --font-color: #202124;
  --font-color-lighter: #5f6368;

  margin: 0 auto;
  color: var(--font-color);
  font-family: var(--font-family-body);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
