.btn {
  --button-bg: #000;
  --button-bg-hover: hsl(0, 0%, 30%);
  --buton-outline-color: var(--button-bg);
  --button-color: #fff;

  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 16px;

  padding: 8px 14px;
  width: fit-content;
  border-radius: 6px;
  border: 2px solid var(--buton-outline-color);
  background-color: var(--button-bg);
  color: var(--button-color);
  line-height: 1.5em;

  &:hover {
    --button-bg: var(--button-bg-hover);
    --button-border-color: var(--button-bg-hover);
    cursor: pointer;
  }

  &:disabled {
    --button-bg: #e6e6e6;
    --button-color: hsl(0, 0%, 40%);

    &:hover {
      cursor: auto;
    }
  }

  svg {
    font-size: 1.125em;
  }
}

.outline {
  --button-color: var(--button-bg);
  composes: btn;
  background-color: transparent;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
