.wrapper {
  contain: content;

  margin-top: 40px;
  padding-bottom: 40px;
  background-color: #1b1b1b;
  color: #fff;
}

.container {
  composes: maxWidth from global;
  color: #fff;

  a {
    color: #8cb4ff;
  }
}

.contactContainer {
  max-width: 600px;

  > h2 {
    margin-left: 0;
  }

  p {
    margin-top: 30px;
  }
}

.buttons {
  display: flex;
  gap: 20px;

  a {
    text-decoration: none;
  }

  button {
    background-color: #fff;
    border-color: #fff;
    color: #000;

    &:hover {
      background-color: hsl(0, 0%, 80%);
      border-color: hsl(0, 0%, 80%);
      color: #000;
    }
  }
}
