.hero {
  composes: maxWidth from global;

  width: 600px;
  margin-top: 40px;

  h1 {
    font-size: 32px;
    color: var(--font-color-lighter);
  }

  h2 {
    font-family: var(--font-family-heading);
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
  }
}

.buttons {
  display: flex;
  gap: 20px;

  a {
    text-decoration: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: 641px) {
    width: 600px;
  }
}
