.hero {
  width: 600px;
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
  }
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;

  a {
    text-decoration: none;
  }
}
