.hamburger {
  padding: 5px;
  cursor: pointer;
}

.navContainer {
  composes: maxWidth from global;

  display: flex;
  margin-top: 1.2rem;
  justify-content: flex-end;

  li {
    a {
      padding: 10px 20px;
      font-size: 20px;
      text-decoration: none;
      color: #000;
    }
  }
}

@media screen and (max-width: 640px) {
  .header {
    position: relative;
  }

  .navContainer {
    ul {
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;
      padding: 10px 0;

      transform: scaleY(0);
      transform-origin: center top;
      transition: all 0.2s ease;

      background-color: #fff;
      border-bottom: 2px solid rgba(30, 30, 30, 0.15);
    }

    ul.isOpen {
      transform: scaleY(1);
    }

    li {
      position: relative;
      width: 100%;
      padding: 20px;
      text-align: center;
    }

    li:before {
      content: "";
      position: absolute;
      top: 0;
      left: 15%;
      width: 70%;
      border-top: 1px solid rgba(30, 30, 30, 0.1);
    }

    li:first-child:before {
      display: none;
    }
  }
}

@media screen and (min-width: 641px) {
  .hamburger {
    display: none;
  }

  .navContainer {
    ul {
      display: flex;
      gap: 16px;

      a {
        border-radius: 5px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}
