.projetsContainer {
  composes: maxWidth from global;

  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 30px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.projet {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--color-border);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--box-shadow);

  @media screen and (min-width: 780px) and (max-width: 1024px) {
    height: 330px;
    flex-direction: row;
  }

  > picture {
    width: 100%;
    border-bottom: 1px solid var(--color-border);

    @media screen and (min-width: 780px) and (max-width: 1024px) {
      flex: 1;
      width: 50%;
      border-bottom: none;
      border-right: 1px solid var(--color-border);
    }

    img {
      height: 100%;
      aspect-ratio: 4/3;
      object-fit: cover;
      object-position: 50% 0%;
    }
  }

  > div {
    height: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 780px) and (max-width: 1024px) {
      flex: 1;
    }
  }
}

.projetInfo {
  height: 100%;
  max-height: 230px;
  padding: 20px;
  background-color: var(--color-light-background);
  overflow: auto;
  overscroll-behavior: contain;

  @media screen and (min-width: 780px) and (max-width: 1024px) {
    max-height: none;
    flex: 1;
  }

  // Works on Firefox
  scrollbar-color: hsl(0, 0%, 80%) none;

  // Works on Chrome, Edge, and Safari
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 80%);
    border-radius: 20px;
  }

  span {
    font-family: var(--font-family-heading);
    font-weight: 600;
    font-size: 20px;
  }

  h3 {
    color: var(--font-color-lighter);
    font-weight: 500;
  }

  p {
    margin-top: 30px;
    white-space: pre-line;
  }
}

.tags {
  margin-top: auto;
  padding: 10px 20px;
  width: 100%;
  align-self: end;

  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  justify-self: flex-end;
  border-top: 1px solid var(--color-border);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  a {
    text-decoration: none;
    cursor: pointer;
  }

  button {
    padding: 4px 6px;
    font-size: 14px;

    @media screen and (max-width: 480px) {
      &:disabled {
        display: none;
      }
    }
  }

  div {
    display: flex;
    gap: 8px;
  }
}

.tools {
  img {
    width: 28px;
  }
}
