.projetsContainer {
  composes: maxWidth from global;

  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 40px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.projet {
  border: 1px solid rgba(30, 30, 30, 0.15);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);

  h3 {
    font-weight: 700;
  }

  .projetInfo {
    padding: 15px;
  }

  img {
    aspect-ratio: 4/3;
    object-fit: cover;
    border-bottom: 1px solid rgba(30, 30, 30, 0.15);
  }

  .tags {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      cursor: pointer;
    }

    button {
      padding: 8px;
    }

    div {
      display: flex;
      gap: 8px;
    }
  }
}

.projetsContainer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 40px;
}
